@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

$Scissors: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
$Paper: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$Rock: radial-gradient(hsl(349, 71%, 52%) , hsl(349, 70%, 56%));
$Lizard: radial-gradient(hsl(261, 73%, 60%) , hsl(261, 72%, 63%));
$Cyan: radial-gradient(hsl(189, 59%, 53%) , hsl(189, 58%, 57%));
$RadialGradient: radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));

$DarkText: hsl(229, 25%, 31%);
$ScoreText: hsl(229, 64%, 46%);
$HeaderOutline: hsl(217, 16%, 45%);

@mixin query($bp){
    @if($bp == cp){
        @media only screen and (max-width:600px){@content};
    }
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;

    @include query(cp){
        font-size: 80%;
    }
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background:$RadialGradient ;
}

.game{
    width: 70%;
    // border: 1px solid lime;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    @include query(cp){
        width: 90%;
        min-height: 95vh;
    }
    &__header{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 3px solid $HeaderOutline;
        border-radius: 1.3rem;
        padding: 1rem;

        @include query(cp){
            width: 100%;
        }
    }

    &__logo{
        @include query(cp){
            width: 7rem;
        }
    }

    &__scoreLabel{
        background-color: white;
        width: 7.5rem;
        height: 6.25rem;
        border-radius: 0.7rem;
        color: $ScoreText;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        line-height: 1;

        @include query(cp){
            width: 6rem;
            height: 5.25rem;
        }
    }

    &__score{
        color: $DarkText;
        font-size: 4rem;
        font-weight: 700;
    }

    &__body{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        @include query(cp){
            align-items: flex-start;
            padding-top: 4rem;
        }

    }

    &__controls{
        width: 50%;
        height: 21.25rem;
        background-image: url(/images/bg-triangle.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        position: relative;
        margin-top: 2rem;
        display: none;
        @include query(cp){
            width: 100%;
        }

    }

    &__control,
    .element
    {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        position: absolute;
        transition: 300ms;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }
    }

    .holder{
        width: 75%;
        height: 75%;
        background: whitesmoke;
        box-shadow: inset 3px 3px rgba($HeaderOutline,0.7);
        border-radius: 50%;
        display: grid;
        place-items: center;
    }

    .rock{
        background: $Rock;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);

        &:hover{
            transform: translateX(-50%) scale(1.1);
        }
    }
    .scissors{
        background: $Scissors;
        top: -1rem;
        right: 2rem;
    }
    .paper{
        background: $Paper;
        top: -1rem;
        left: 2rem;
    }

    &__result{
        display: none;
        justify-content: space-around;
        align-items: center;
        height: 50vh;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        color: white;
        letter-spacing: 3px;
        font-size: 1.2rem;

        @include query(cp){
            // display: grid;
            grid-template-areas: 
            "one two"
            "res res"
            ;
            align-items: center;
        }

        // display: none   ;
    }

    &__side{
        @include query(cp){
            display: flex;
            flex-direction: column;
            align-items: center;
            
            span{
                display: inline-block;
                margin-top: 2rem;
            }
        }
    }

    &__side-holder{
        width:  12.5rem;
        height: 12.5rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin-top: 2rem;
        @include query(cp){
            width: 10rem;
            height: 10rem;
            order: -1;
        }

        .holder{
            width: 60%;
            height: 60%;
            box-shadow: none;
            background-color:#15203b ;

            @include query(cp){
                width: 80%;
                height: 80%;
            }
        }
    }

    &__final{
        gap: 1rem;
        display: none;
        margin: 0 4rem;

        @include query(cp){
            margin: 5rem 0 0 0;
            grid-area: res;
        }

        span{
            font-size: 3rem;
            letter-spacing: 1px;

            @include query(cp){
                font-size: 3rem;
            }
        }

        button{
            background-color: white;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            font-family: inherit;
            cursor: pointer;
            text-transform: uppercase;
            padding: 0.5rem 0;
            @include query(cp){
                font-size: 1.1rem;
                width: 50%;
                padding: 0.7rem 0;
                margin: auto;
            }

            &:hover{
                color: crimson;
            }
        }
    }

    .element{
        width: 12.5rem;
        height: 12.5rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        position: absolute;
        transition: 300ms;
        cursor: auto;
        position: static;
        transform: none;
        transition: 1s;
        @include query(cp){
            width: 10rem;
            height: 10rem;
        }
      
        &:hover{
            transform: none;
        }

        .holder{
            width: 75%;
            height: 75%;
            background: whitesmoke;
            box-shadow: inset 3px 3px rgba($HeaderOutline,0.7);
            border-radius: 50%;
            display: grid;
            place-items: center;
        }
    }
}

.rules{
    width: 25rem;
    background-color: white;
    padding: 2rem;
    color:$DarkText;
    position: absolute;
    border-radius: 1rem;
    display: grid;
    justify-items: center;
    row-gap: 3rem;
    grid-template-areas: 
    "title close"
    "img img"
    ;

    @include query(cp){
        grid-template-areas: 
        "title"
        "img"
        "close"
        ;
        height: 90vh;
        align-content: space-between;
    }

    h2{
        justify-self: start;

        @include query(cp){
            justify-self: center;
            font-size: 3rem;
        }
    }

    &__container{
        width: 100vw;
        height: 100vh;
        background-color: rgba(black,0.3);
        position: absolute;
        top: 0;
        left: 0;
        display: grid;
        place-items: center;
        opacity: 0;
        pointer-events: none;
        transition: 500ms;
        @include query(cp){
            background-color: white;
        }
    }

    &__main{
        grid-area: img;
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0 auto;
        display: block;
    }

    &__head{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .close{
        border:none;
        background-color: transparent;
        cursor: pointer;
        justify-self: end;

        @include query(cp){
            justify-self:center;
        }
    }
}

.rulesBtn{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: inherit;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    transition: 300ms;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    @include query(cp){
        left: 50%;
        transform: translateX(-50%);
    }

    &:hover{
        cursor: pointer;
        background-color: white;
        color: $DarkText;
    }
}

.winner{
    box-shadow: 0 0 0 2.5rem rgba($HeaderOutline,0.1),
    0 0 0 4.5rem rgba($HeaderOutline,0.2),
    0 0 0 7.5rem rgba($HeaderOutline,0.1),
    0 0 0 9.5rem rgba($HeaderOutline,0.1);
}

.showRules{
    opacity: 1;
    pointer-events: all;
}

.showFinal{
    display: grid;
}

.showResult{
    display: flex;

    @include query(cp){
        display: grid;
    }
}

.showControls{
    display: block;
}